<!DOCTYPE html>

<html>


<head>


</head>

<body>


    <form action="consultar" method='post'>
        <div class="opcoes">
            <input type="radio" value="1" name='opcao'>
            <p>Cotações de fechamento de uma moeda em um período.</p>

            <input type="radio" value="2" name='opcao'>
            <p>Cotações de fechamento de todas as moedas em uma data.</p>

            <input type="radio" value="3" name='opcao'>
            <p>Boletins intermediários de taxas de câmbio em uma data.</p>
        </div>
        <p> Informe os parâmetros da pesquisa</p>
        <div>
            <label>Data Inicial</label>
            <input type="date" name="DATAINI">

            <label>Data Final</label>
            <input type="date" name="DATAFIM">

            <select name="MOEDA" id="moeda" value=" ">
                {% for item in moedas %}
                <option value={{item['code']}}>{{item['moeda']}}</option>
                {% endfor %}
            </select>

            <input type='submit'>

        </div>
    </form>
</body>

</html>